@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

$primary: #6F9F50;
$light: #CCE2E2;
$dark: #5e8248;

.logo {
    border: 1px solid black;
    border-radius: 100%
}

.header-logo {
    max-width: 10rem;
}

.footer-logo {
    max-width: 5rem;
}

.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../assets/layer1.svg');
}

// Import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';