$primary: #6F9F50;
$secondary: #CCE2E2;

.header_logo {
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
    border-radius: 100%;
}

// Import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';