@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary: #6f9f50;
$secondary: #d28f34;
$light: #cce2e2;
$dark: #5e8248;

$thumbnail-bg: $secondary;
$thumbnail-border-color: $secondary;

.logo {
  border: 1px solid black;
  border-radius: 100%;
}

.header-logo {
  max-width: 10rem;
}

.footer-logo {
  max-width: 5rem;
}

.bg-index {
  background: rgb(111, 159, 80);
  background: linear-gradient(
    0deg,
    rgba(111, 159, 80, 1) 50%,
    rgba(210, 143, 52, 1) 100%
  );
}

.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  aspect-ratio: 900/200;
  background-image: url("../assets/layer1.svg");
}
.layer2 {
  aspect-ratio: 900/101;
  background-image: url("../assets/layer2.svg");
}
.layer3 {
  aspect-ratio: 900/101;
  background-image: url("../assets/layer3.svg");
}
.layer4 {
  aspect-ratio: 900/101;
  background-image: url("../assets/layer4.svg");
}
$font-family-sans-serif: system-ui, -apple-system, "Montserrat", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
